<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zs.forty.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="org.zs.forty.model.entity.Comment">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="from_uid" property="fromUid" jdbcType="BIGINT"/>
    <result column="to_uid" property="toUid" jdbcType="BIGINT"/>
    <result column="story_id" property="storyId" jdbcType="BIGINT"/>
    <result column="context" property="context" jdbcType="CLOB"
        typeHandler="org.apache.ibatis.type.ClobTypeHandler"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
  </resultMap>

  <sql id="BaseComment">
    id, from_uid, to_uid, story_id, context, create_time, update_time
  </sql>
  <insert id="insert" useGeneratedKeys="true" parameterType="org.zs.forty.model.entity.Comment"
      keyProperty="id">
    INSERT INTO t_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fromUid != null">
        from_uid,
      </if>
      <if test="toUid != null">
        to_uid,
      </if>
      <if test="storyId != null">
        story_id,
      </if>
      <if test="context != null">
        context,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="fromUid != null">
        #{fromUid},
      </if>
      <if test="toUid != null">
        #{toUid},
      </if>
      <if test="storyId != null">
        #{storyId},
      </if>
      <if test="context != null">
        #{context},
      </if>
    </trim>
  </insert>
  <update id="update">
    UPDATE t_comment
    <set>
      <if test="fromUid != null">
        from_uid = #{fromUid},
      </if>
      <if test="toUid != null">
        to_uid = #{toUid},
      </if>
      <if test="storyId != null">
        story_id = #{storyId},
      </if>
      <if test="context != null">
        context = #{context},
      </if>
    </set>
    <trim prefix="WHERE" prefixOverrides="AND">
      <if test="id != null">
        AND id = #{id}
      </if>
      <if test="fromUid != null">
        AND from_uid = #{fromUid}
      </if>
    </trim>

  </update>
  <update id="delete">
    UPDATE t_comment SET is_deleted = 1 WHERE id = #{id}
  </update>
  <delete id="deleteByStoryId">
    UPDATE t_comment SET is_deleted = 1 WHERE story_id = #{storyId}
  </delete>
  <delete id="deleteByFromUid">
    UPDATE t_comment SET is_deleted = 1 WHERE from_uid = #{fromUid}
  </delete>
  <select id="selectById" resultMap="BaseResultMap">
    SELECT
    <include refid="BaseComment"/>
    FROM t_comment
    WHERE id = #{id}
  </select>
  <select id="selectByStoryId" resultType="org.zs.forty.model.entity.Comment">
    SELECT
    <include refid="BaseComment"/>
    FROM t_comment
    WHERE story_id = #{storyId}
  </select>
  <select id="selectByFromUid" resultType="org.zs.forty.model.entity.Comment">
    SELECT
    <include refid="BaseComment"/>
    FROM t_comment
    WHERE from_uid = #{fromUid}
  </select>
</mapper>