<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zs.forty.mapper.MenuMapper">
  <select id="selectMenuByRoleId" resultType="org.zs.forty.model.entity.Menu">
    SELECT
    m.id,
    m.menu_name,
    m.menu_path
    m.menu_mark
    FROM
    t_menu m
    LEFT JOIN t_role_menu rm
    ON m.id = rm.menu_id
    WHERE rm.role_id = #{roleId}
  </select>
</mapper>