<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zs.forty.mapper.OrderMapper">
  <sql id="BaseOrder">
    id, create_user, story_id, product_id, status, create_time, update_time
  </sql>

  <insert id="insert" useGeneratedKeys="true" parameterType="org.zs.forty.model.entity.Order"
      keyProperty="id">
    INSERT INTO t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="storyId != null">
        story_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="storyId != null">
        #{storyId},
      </if>
      <if test="productId != null">
        #{productId},
      </if>
      <if test="status != null">
        #{status},
      </if>
    </trim>
  </insert>
  <update id="updateById">
    update t_order
    <set>
      <if test="storyId != null">
        story_id = #{storyId},
      </if>
      <if test="productId != null">
        product_id = #{productId},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
    </set>
    WHERE create_user = #{createUser}
  </update>
  <update id="deleteById">
    update t_order set status = 0 WHERE id = #{id}
  </update>
  <delete id="deleteByCreateUser">

    <!--    delete FROM t_order WHERE create_user = #{createUser}-->
    <!-- todo-->
  </delete>
  <select id="selectById" resultType="org.zs.forty.model.entity.Order">
    SELECT
    <include refid="BaseOrder"/>
    FROM t_order
    WHERE id = #{id}
  </select>
  <select id="selectByProductId" resultType="org.zs.forty.model.entity.Order">
    SELECT
    <include refid="BaseOrder"/>
    FROM t_order
    WHERE product_id = #{productId}
  </select>
  <select id="selectByStoryId" resultType="org.zs.forty.model.entity.Order">
    SELECT
    <include refid="BaseOrder"/>
    FROM t_order
    WHERE story_id = #{storyId}
  </select>
  <select id="selectByCreateUser" resultType="org.zs.forty.model.entity.Order">
    SELECT
    <include refid="BaseOrder"/>
    FROM t_order
    WHERE create_user = #{createUser}
  </select>
</mapper>