<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zs.forty.mapper.ProductMapper">

  <resultMap id="BaseResultMap" type="org.zs.forty.model.entity.Product">
    <id property="id" column="id" jdbcType="BIGINT"/>
    <result property="productName" column="product_name" jdbcType="VARCHAR"/>
    <result property="productInfo" column="product_info" jdbcType="VARCHAR"/>
    <result property="productImg" column="product_img" jdbcType="VARCHAR"/>
    <result property="category" column="category" jdbcType="VARCHAR"/>
    <result property="status" column="status" jdbcType="INTEGER"/>
    <result property="isDelete" column="is_delete" jdbcType="BOOLEAN"/>
    <result property="createTime" column="create_time" jdbcType="DATE"/>
    <result property="updateTime" column="update_time" jdbcType="DATE"/>
    <!--一对多映射用这个  ofTyp是一对多的集合的所存放的实体类  javaType实体类的属性类型-->
    <collection property="stories" ofType="org.zs.forty.model.entity.Story" column="id">
      <id property="id" column="id" jdbcType="BIGINT"/>
      <result property="createUser" column="create_user" jdbcType="BIGINT"/>
      <result property="title" column="title" jdbcType="VARCHAR"/>
      <result property="context" column="context" jdbcType="VARCHAR"/>
      <result property="storyView" column="story_view" jdbcType="INTEGER"/>
      <result property="storyLike" column="story_like" jdbcType="INTEGER"/>
      <result property="isDelete" column="is_delete" jdbcType="BOOLEAN"/>
      <result property="isOpen" column="is_open" jdbcType="BOOLEAN"/>
      <result property="createTime" column="create_time" jdbcType="DATE"/>
      <result property="updateTime" column="update_time" jdbcType="DATE"/>
    </collection>
  </resultMap>

  <sql id="BaseProduct">
    id, product_name, product_info, product_img,product_price, create_time, update_time
  </sql>

  <insert id="insert" useGeneratedKeys="true" parameterType="org.zs.forty.model.entity.Product"
      keyProperty="id">
    INSERT INTO t_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productName != null">
        product_name,
      </if>
      <if test="productInfo != null">
        product_info,
      </if>
      <if test="productImg != null">
        product_img,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="productName != null">
        #{productName},
      </if>
      <if test="productInfo != null">
        #{productInfo},
      </if>
      <if test="productImg != null">
        #{productImg},
      </if>
      <if test="productPrice != null">
        #{productPrice},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="category != null">
        #{category},
      </if>
    </trim>
  </insert>
  <update id="update">
    UPDATE t_product
    <set>
      <if test="productName != null">
        product_name = #{productName},
      </if>
      <if test="productInfo != null">
        product_info = #{productInfo},
      </if>
      <if test="productImg != null">
        product_img=#{productImg},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="category != null">
        category=#{category},
      </if>
    </set>
    WHERE id = #{id}
    AND is_delete = 0
  </update>
  <update id="deleteById">
    UPDATE t_product
    SET is_delete = 1
    WHERE id = #{id}
    AND is_delete = 0
  </update>
  <select id="selectById" resultMap="BaseResultMap">
    SELECT p.id, p.product_name, p.product_info, p.product_img, p.category,
    s.create_user, s.title, s.context, s.story_view, s.story_like
    FROM t_product p
    LEFT JOIN t_order r ON p.id = r.product_id
    LEFT JOIN t_story s ON s.id = r.story_id
    WHERE p.id = #{id}
    AND p.is_delete = 0
    AND s.is_delete = 0
    AND s.is_open = 1

  </select>
  <select id="selectByName" resultType="org.zs.forty.model.entity.Product">
    SELECT
    <include refid="BaseProduct"/>
    category,status from t_product
    WHERE product_name = #{productName}
  </select>
  <select id="selectByCategory" resultType="org.zs.forty.model.entity.Product">
    SELECT
    <include refid="BaseProduct"/>
    status
    FROM t_product
    WHERE category = #{category}
    AND is_delete = 0
  </select>
  <select id="selectList" resultType="org.zs.forty.model.entity.Product">
    SELECT
    <include refid="BaseProduct"/>
    category,status
    FROM t_product
    WHERE is_delete = 0
  </select>
  <select id="selectByStatus" resultType="org.zs.forty.model.entity.Product">
    SELECT
    <include refid="BaseProduct"/>
    category,status
    FROM t_product
    WHERE status =#{status}
    AND is_delete = 0
  </select>
  <select id="selectByStatusAndCategory" resultType="org.zs.forty.model.entity.Product">
    SELECT
    <include refid="BaseProduct"/>
    FROM t_product
    WHERE status = #{status}
    AND category = #{category}
    AND is_delete = 0
  </select>
</mapper>