<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zs.forty.mapper.RoleMapper">
  <resultMap id="BaseRoleMap" type="org.zs.forty.model.entity.Role">
    <id property="roleId" column="role_id"/>
    <result property="roleDesc" column="role_name"/>
    <result property="roleDesc" column="role_desc"/>
    <result property="isDelete" column="is_delete"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
    <collection property="menus" ofType="org.zs.forty.model.entity.Menu" javaType="ArrayList">
      <id property="menuId" column="menu_id"/>
      <result property="menuName" column="menu_name"/>
      <result property="menuPath" column="menu_path"/>
      <result property="menuMark" column="menu_mark"/>
      <result property="isDelete" column="is_delete"/>
      <result property="createTime" column="create_time"/>
      <result property="updateTime" column="update_time"/>
    </collection>
  </resultMap>

  <sql id="BadeRole">
    role_id, role_name, role_desc, create_time, update_time
  </sql>
  <insert id="insert" useGeneratedKeys="true" parameterType="org.zs.forty.model.entity.Role"
      keyProperty="roleId">
    INSERT INTO t_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleName !=null">
        role_name,
      </if>
      <if test="roleDesc !=null">
        role_desc,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="roleName !=null">
        #{roleName},
      </if>
      <if test="roleDesc !=null">
        #{roleDesc},
      </if>
    </trim>
  </insert>
  <update id="update">
    UPDATE t_role
    <set>
      <if test="roleName !=null">
        role_name = #{roleName},
      </if>
      <if test="roleDesc !=null">
        role_desc = #{roleDesc},
      </if>
    </set>
    WHERE role_id = #{roleId}
    AND is_delete= 0
  </update>
  <update id="deleteById">
    UPDATE t_role
    SET is_delete = 1
    WHERE role_id = #{roleId}
    AND is_delete = 0
  </update>
  <select id="selectByName" resultType="org.zs.forty.model.vo.RoleVO">
    SELECT
    <include refid="BadeRole"/>
    FROM t_role
    WHERE role_name = #{roleName}
    AND is_delete = 0;
  </select>
  <select id="selectRoleById" resultMap="BaseRoleMap">
    SELECT
    r.role_id, r.role_name, r.role_desc,
    m.menu_id,m.menu_name, m.menu_path, m.menu_mark
    FROM t_role r
    LEFT JOIN t_role_menu rm
    ON r.role_id = rm.role_id
    LEFT JOIN t_menu m
    ON rm.menu_id = m.menu_id
    WHERE
    r.role_id = #{roleId}
    AND r.is_delete = 0
    AND m.is_delete = 0
  </select>
  <select id="selectAllRole" resultType="org.zs.forty.model.vo.RoleVO">
    SELECT
    <include refid="BadeRole"/>
    FROM t_role
    WHERE is_delete = 0;
  </select>
  <select id="selectRoleByRoleId" resultType="org.zs.forty.model.vo.RoleVO">
    SELECT
    <include refid="BadeRole"/>
    FROM t_role
    WHERE role_id = #{roleId}
    AND is_delete = 0;
  </select>

</mapper>