<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zs.forty.mapper.RoleMapper">
  <resultMap id="BaseRoleMap" type="org.zs.forty.model.entity.Role">
    <id property="roleId" column="role_id"/>
    <result property="roleDesc" column="role_name"/>
    <result property="roleDesc" column="role_desc"/>
    <result property="isDelete" column="is_delete"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
    <collection property="menus" ofType="org.zs.forty.model.entity.Menu" javaType="ArrayList">
      <id property="menuId" column="menu_id"/>
      <result property="menuName" column="menu_name"/>
      <result property="menuPath" column="menu_path"/>
      <result property="menuMark" column="menu_mark"/>
      <result property="isDelete" column="is_delete"/>
      <result property="createTime" column="create_time"/>
      <result property="updateTime" column="update_time"/>
    </collection>
  </resultMap>
  <sql id="BaseRoleMap">
    id, role_name, role_desc, is_delete, create_time, update_time, menus.menu_id as menuId,
    menus.menu_name as menuName, menus.menu_path as menuPath, menus.menu_mark as menuMark,
    menus.is_delete as isDelete, menus.create_time as createTime, menus.update_time as updateTime
  </sql>

  <sql id="BadeRole">
    id, role_name, role_desc, create_time, update_time
  </sql>
  <insert id="insert" useGeneratedKeys="true" parameterType="org.zs.forty.model.entity.Role"
      keyProperty="roleId">
    INSERT INTO t_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleName !=null">
        role_name,
      </if>
      <if test="roleDesc !=null">
        role_desc,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="roleName !=null">
        #{roleName},
      </if>
      <if test="roleDesc !=null">
        #{roleDesc},
      </if>
    </trim>
  </insert>
  <update id="update">
    UPDATE t_role
    <set>
      <if test="roleName !=null">
        role_name = #{roleName},
      </if>
      <if test="roleDesc !=null">
        role_desc = #{roleDesc},
      </if>
    </set>
  </update>
  <update id="deleteById">
    UPDATE t_role
    SET is_delete = 1
    WHERE id = #{id}
    AND is_delete = 0
  </update>
  <select id="selectByName" resultType="org.zs.forty.model.vo.RoleVO">
    SELECT
    <include refid="BadeRole"/>
    FROM role
    WHERE role_name = #{roleName}
    AND is_delete = 0;
  </select>
  <select id="selectRoleById" resultType="org.zs.forty.model.vo.RoleVO">
    SELECT
    <include refid="BadeRole"/>
    FROM role
    WHERE role_id = #{roleId}
    AND is_delete = 0;
  </select>
  <select id="selectAllRole" resultType="org.zs.forty.model.vo.RoleVO">
    SELECT
    <include refid="BadeRole"/>
    FROM role
    WHERE is_delete = 0;
  </select>

</mapper>