<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zs.forty.mapper.StoryMapper">
  <insert id="insert" useGeneratedKeys="true" parameterType="org.zs.forty.model.entity.Story"
      keyProperty="id">
    INSERT INTO t_story
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="context != null">
        context,
      </if>
      <if test="story_view != null">
        story_view,
      </if>
      <if test="story_like != null">
        story_like,
      </if>
      <if test="is_open != null">
        is_open,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId},
      </if>
      <if test="title != null">
        #{title},
      </if>
      <if test="context != null">
        #{context},
      </if>
      <if test="story_view != null">
        #{story_view},
      </if>
      <if test="story_like != null">
        #{story_like},
      </if>
      <if test="is_open != null">
        #{is_open},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>
  </insert>
  <update id="updateById">
    UPDATE t_story
    <set>
      <if test="userId != null">
        user_id = #{userId},
      </if>
      <if test="title != null">
        title = #{title},
      </if>
      <if test="context != null">
        context = #{context},
      </if>
      <if test="story_view != null">
        story_view = #{story_view},
      </if>
      <if test="story_like != null">
        story_like=#{story_like},
      </if>
    </set>
    WHERE user_id = #{userId}
  </update>
  <update id="deleteById">
    update t_story set is_delete = 1 where id = #{id} and is_delete = 0
  </update>
  <select id="selectListByCreateUser" resultType="org.zs.forty.model.entity.Story">
    select id,title,context,story_view,story_like,is_open from t_story where user_id =
    #{createUser} AND is_delete = 0
  </select>
  <select id="selectList" resultType="org.zs.forty.model.entity.Story">
    select id,title,context,story_view,story_like,is_open from t_story where is_delete = 0
  </select>
  <select id="selectById" resultType="org.zs.forty.model.entity.Story">
    select id,title,context,story_view,story_like,is_open from t_story where id = #{id} AND
    is_delete = 0
  </select>
  <select id="selectOpenByList" resultType="org.zs.forty.model.entity.Story">
    select id,title,context,story_view,story_like from t_story where is_delete = 0 and
    is_open = 1
  </select>
</mapper>