<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zs.forty.mapper.UserMapper">
  <resultMap id="BaseUserMap" type="org.zs.forty.model.entity.User">
    <id property="id" column="id"/>
    <result property="username" column="username"/>
    <result property="password" column="password"/>
    <result property="nickname" column="nickname"/>
    <result property="email" column="email"/>
    <result property="status" column="status"/>
    <result property="isDelete" column="is_delete"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
    <collection property="roles" ofType="org.zs.forty.model.entity.Role">
      <id property="roleId" column="role_id" jdbcType="BIGINT"/>
      <result property="roleName" column="role_name"/>
      <result property="roleDesc" column="role_desc"/>
      <result property="isDelete" column="is_delete"/>
      <result property="createTime" column="create_time"/>
      <result property="updateTime" column="update_time"/>
    </collection>

  </resultMap>

  <insert id="insert" useGeneratedKeys="true" parameterType="org.zs.forty.model.entity.User"
      keyProperty="id">
    INSERT INTO t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="nickname != null">
        #{nickname},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="isDelete != null">
        #{is_delete},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
    </trim>

  </insert>
  <update id="updateById">
    UPDATE t_user
    <set>
      <if test="username != null">
        username = #{username},
      </if>
      <if test="password != null">
        password = #{password},
      </if>
      <if test="nickname != null">
        nickname = #{nickname},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
    </set>
    WHERE id = #{id}
    AND is_delete = 0
  </update>
  <update id="deleteById">
    UPDATE t_user SET is_delete = 1 WHERE id = #{id} AND is_delete = 0
  </update>

  <select id="selectRoleByEmail" resultMap="BaseUserMap">
    SELECT
    u.id, u.username, u.password, u.nickname, u.email, u.status,
    r.role_id, r.role_name, r.role_desc
    from t_user u
    left join t_user_role ur on u.id = ur.user_id
    left join t_role r on ur.role_id = r.role_id
    where u.is_delete = 0 and r.is_delete = 0 and u.email = #{email}

  </select>
  <select id="selectById" resultType="org.zs.forty.model.entity.User">
    SELECT id,username,password,nickname FROM t_user WHERE id = #{id} AND is_delete = 0
  </select>
  <select id="selectByUsername" resultType="org.zs.forty.model.entity.User">
    SELECT id,username,password,nickname,status FROM t_user WHERE username = #{username}
    AND is_delete = 0

  </select>
  <select id="selectList" resultType="org.zs.forty.model.entity.User">
    SELECT id,username,password,nickname,status FROM t_user WHERE is_delete = 0

  </select>
</mapper>