<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.zs.forty.mapper.UserInfoMapper">
    <resultMap id="UserinfoResultMap" type="org.zs.forty.mapper.UserInfoMapper">

    </resultMap>
    <insert id="insert" useGeneratedKeys="true" parameterType="org.zs.forty.model.entity.UserInfo" keyProperty="id">
        INSERT INTO t_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="id != null">id,</if>
            <if test="user_name != null">user_name,</if>
            <if test="age != null">age,</if>
            <if test="sex != null">sex,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="address != null">address,</if>
            <if test="user_add != null">user_add,</if>
            <if test="create_time != null">create_time,</if>
            <if test="update_time != null">update_time,</if>
        </trim>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="user_name != null">user_name,</if>
            <if test="age != null">age,</if>
            <if test="sex != null">sex,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="address != null">address,</if>
            <if test="user_add != null">user_add,</if>
            <if test="create_time != null">create_time,</if>
            <if test="update_time != null">update_time,</if>
        </trim>
    </insert>
    <select id="selectById" resultType="org.zs.forty.model.entity.UserInfo">
        select * from user_info where id = #{id}
    </select>
    <select id="selectByUserId" resultType="org.zs.forty.mapper.UserInfoMapper">
        select * from user_info where id = #{userid}
    </select>
    <select id="selectByUseradd" resultType="org.zs.forty.mapper.UserInfoMapper">
        select * from user_info where user_add = #{useradd}
    </select>
    <update id="update" parameterType="org.zs.forty.model.entity.UserInfo">
        update user_info set
        user_name = #{user_name},
        age = #{age},
        sex = #{sex},
        phone = #{phone},
        email = #{email},
        address = #{address},
        user_add = #{user_add},
        create_time = #{create_time},
        update_time = #{update_time}
        where id = #{id}
    </update>
    <delete id="delete">
        delete from user_info where id = #{id}
    </delete>

</mapper>